#process {
    color: white;
}

#process h1,
#process p {
    text-align: center;
}

.process {
    display: flex;
    justify-content: space-around;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
}