#portfolio {
    color: white;
}
#portfolio h1, h2 {
    text-align: center;
}
.project0,
.project1,
.project2,
.project3,
.project4,
.project5,
.project6 {
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}